<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.Graph" version="1.17.0" targetFramework="net451" />
    <package id="Microsoft.Graph.Core" version="1.18.0" targetFramework="net451" />
    <package id="Microsoft.Identity.Client" version="4.4.0" targetFramework="net451" />
    <package id="Microsoft.NETCore.Platforms" version="3.0.0" targetFramework="net451" />
    <package id="Microsoft.NETCore.Targets" version="3.0.0" targetFramework="net451" />
    <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net451" />
    <package id="System.Private.Uri" version="4.3.2" targetFramework="net451" />
    <package id="System.ValueTuple" version="4.5.0" targetFramework="net451" />
</packages>